@import '../../../styles/settings.scss';

.cardBody {
  color: $color-light;
  background: $color-lighter;
  border: none;
}
.cardImg {
  height: 200px;
  padding: 5px;
  object-fit: cover;
}
.cardBtn {
  background-color: $color-medium;
  border-color: $color-medium;
}

.link{
  text-align: center
}