@import '../../../styles/settings.scss';

.dropdown {
  background-color: $color-dark;
  color: $color-light;
  margin: 20px auto;
  border-color: $color-lighter;
}

.photo {
  object-fit: cover;
  max-width: 100%;
}

.cartBtn {
  width: 100%;
  background-color: $color-medium;
  border-color: $color-medium;
}
.successBtn {
  width: 100%;
}

.icon{
  color: $color-light;
}