$color-light: #fff;
$color-dark: #1b1b1b;
$color-success: #26de81;
$color-warning: #e1644e;
$color-favorite: rgb(255, 193, 8);
$color-medium: #a5624b;
$color-lighter: #534d48;

$font-text: 'Segoe UI', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;