@import '../../../styles/settings.scss';

.navlink {
  color: $color-light;
  font-size: medium;
  text-decoration: none;
  margin: 0 1em;
  &:hover {
    color: $color-medium;
  }
}
.logo, .logo:hover {
  color: $color-medium;
  
}